.post--container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    background-color: white;
    bottom: 0;   
}

form {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.settings{
    font-size: 40px;
    user-select: none;
    z-index: 4;
}

.post--text {
    padding-left: 10px;
    padding-top: 2px;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    background-color: grey;
    border: 3px solid gray;
    border-radius: 10px;
    margin-left: 2vw;
}

.post--button {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 2px;
}

.post--button:hover {
    cursor: pointer;
    background-color: rgb(5, 212, 5);
}

@media screen and (max-width: 1000px) {

    .post--container {
        position: fixed;
        bottom: 0;
        z-index: 10;
    }

    form {
        justify-content: space-between;
    }

    .post--text {
        margin-left: 15vw;
        width: 70vw;
        align-self: flex-start;
    }

    .settings {
        z-index: 4;
        align-self: flex-start;
    }
}